<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("pre > code.language-mermaid").forEach((code) => {
      const container = document.createElement("div");
      container.classList.add("mermaid");
      container.innerHTML = code.textContent;
      code.parentElement.replaceWith(container);
    });

    mermaid.initialize({ startOnLoad: true });
  });
</script>
