---
layout: default
---

{{ content }}

<hr>

{% if page.series %}

 {% assign series_pages = site.pages | where: "series", page.series | sort: "order" %}

  {% assign current_index = nil %}

  {% for p in series_pages %}
    {% if p.url == page.url %}
      {% assign current_index = forloop.index0 %}
    {% endif %}
  {% endfor %}

  <p style="text-align: center;">
    {% if current_index != nil %}
      {% assign prev_index = current_index | minus: 1 %}
      {% assign next_index = current_index | plus: 1 %}

      {% if current_index > 0 %}
        {% assign prev_page = series_pages[prev_index] %}
        <a href="{{ prev_page.url | relative_url }}" >
          ← 前回
        </a>
      {% endif %}

      <a href="{{ '/' | append: page.series | append: '/' | relative_url }}">
        📚 目次に戻る
      </a>

      {% if next_index < series_pages.size %}
        {% assign next_page = series_pages[next_index] %}
        <a href="{{ next_page.url | relative_url }}" >
          次回 →
        </a>
      {% endif %}
    {% endif %}
  </p>
{% else %}
<p style="text-align: center;">
  <a href="{{ '/' | relative_url }}"
     class="btn"
     style="color: #159957; border: 1px solid #159957;">
    🏠 ホームに戻る
  </a>
</p>
{% endif %}